body
{
  margin: 0;
  padding: 0;
  background: black;

}

.box
{
  padding: 100px;
  width: 50%;
  height: 100vh;
  margin: 0 auto;
  color: white;
  background-color: lightgray;
  box-shadow: inset 0px 0px 10px 5px #383838;
}

.box h1
{
  font-size: 65px;
  text-align: center;
}
